TENANT_ID=TU_TENANT_ID
CLIENT_ID=TU_CLIENT_ID
CLIENT_SECRET=TU_CLIENT_SECRET
SHAREPOINT_HOSTNAME=agenciadeaduanapirazzoli.sharepoint.com
SHAREPOINT_SITE_PATH=/sites/PilotoMinerva
TARGET_DRIVE_NAME=Documentos
TARGET_FILE_NAME=piloto_datos_minerva.xlsx